<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grad Students Registration Form</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
    </header>
    <p><h1 class="hcontent">CUW Job Registration Portal!</h1></p>    
    
    <main class="main-content">
        <button onclick="location.href='/register'" class="btn blue-btn">Register Here</button>
        <button onclick="location.href='/view-registrations'" class="btn blue-btn">View Registrations</button>
    </main>
</body>
</html>
