<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Registrations</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
    </header>
    <main class="main-content">
        <input type="text" id="searchName" placeholder="Search by name or F00ID">
        <button onclick="searchRegistration()" class="btn blue-btn">Search</button>
        <div id="results" class="results-content"></div>
        <a href="/" class="btn blue-btn">Home</a>
    </main>
    <script src="/js/scripts.js"></script>
</body>
</html>
